div,h1, h2, h3, h4, p ,li, ul, img, section, article, main, header { 
    outline-width: 1px; 
    outline-style: solid; 
    outline-color: red; 
}

.display {
    min-width: 320px;
    max-width: 425px;
    margin: 100px auto 0;
    padding: 5px;
    min-height: 640px;
    display: flex;
    flex-direction: column;
}

.header {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
}

.header__button {
    width:24px;
    height:24px;
    align-self: flex-end;
    cursor: pointer;
}

.header__date {
    min-height: 3vh;
    margin-top: auto;
    padding-left: 10px;
    padding-top: 5px;
}

.content {
    min-height: 42vh;
    padding: 0;
}

.content__item {
    margin: 10px;
    list-style-type:none;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
}

.checkbox{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: aquamarine;
    align-self: center;
}

.checkbox_done{
    background-color: rgb(255, 127, 127);
}

.todo {
    max-width: 280px;
    min-height: 36px;
    margin-left: 5px;
    font-size: 22px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding:  9px 2px 0 2px;
    
}

.content__button {
    width: 36px;
    height: 36px;
    align-self: center;
    margin-left: auto;
    margin-right: 5px;
    cursor: pointer;
    background-image: url('./img/delete.svg');    
}

.input {
    min-height: 5vh;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.input__text {
    min-height: 34px;
    min-width: 240px;
    margin: 3px;
    font-size: 22px;
}

.input__button {
    width: 36px;
    height: 36px;
    align-self: center;
    margin-left: auto;
    margin-right: 5px;
    cursor: pointer;
}